body {
  margin: 0;
  background-color: #f2f0ef;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

p {
  font-family: 'Simplon Mono', sans-serif;
  color: #003A6B;
  line-height: 1.8;
}

h1, h2 {
  color: #003A6B;
  font-family: "NeueMontreal", sans-serif;
}

/*navbar*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0.5rem;
}

.navbar ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

.navbar ul li a {
  position: relative;
  color: #003a6b;
  font-family: "NeueMontreal", sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.1em;
}

.navbar ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #000000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.navbar ul li a:hover {
  color: #000000;
}

.navbar ul li a:hover::after {
  transform: scaleX(1);
}

/*hero*/
.hero {
  width: auto;
  min-height: 100vh;
  display: flex;
  position: relative;
  background-image: url("../img/newhero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  margin-top: 8rem;
}

.hero-img {
  position: absolute;
  inset: 0;
  width: 100vh;
  height: 100vh;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 30%;
  left: 15%;                 /* controls how far from left edge */
  transform: translateY(-50%); /* keep it vertically centered */
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: flex-start;    /* align text to left */
  text-align: left;           /* left text alignment */
}

.hero-text h1 {
  font-family: 'NeueMontreal', sans-serif;
  color: #003a6b;;
  font-size: 4rem;
}

.hero-text p {
  width: min(60ch, 90vw);     /* responsive: not too wide on mobile */
  margin-top: 0.5rem;         /* remove negative margin */
}

#about {
  max-width: 800px; 
  padding: 2rem 1rem;     
  margin: 4rem auto;     
  text-align: center;     
  margin-top: -5rem;   
  margin-bottom: 7rem; 
}

#about h1 {
  font-family: "NeueMontreal", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

#about p {
  font-family: "Simplon Mono", sans-serif;
  font-size: 1rem;
  line-height: 1.8;
}

#story {
  padding: 3rem 1rem;
}

.story-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;

  flex-wrap: wrap; 
}

#story-image {
  flex: 1.2; 
}

.cafe-img {
  width: 600px;
  height: 100%; 
  object-fit: cover;    
  object-position: top;
  display: block;
}

#story-para {
  flex: 1;
}

#story-para h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

#story-para p {
  line-height: 1.8;
  font-size: 1rem;
}

/*footer*/
footer {
  margin-top: 9rem;
}

.footer-container {
  margin: 0 auto;
  margin: 2rem 2rem;
}

#logo-container {
  text-align: start; 
  margin-bottom: 2rem;
  margin-left: -2rem;
}

.drc-logo {
  width: 250px;      
  height: auto; 
  display:block     
}

.footer-container a,
.footer-container a:visited,
.footer-container a:active,
.footer-container a:focus {
  color: #003A6B;
  text-decoration: underline;
}


